<!doctype html>
<html>
    <head>
        <title>Roomify | Start</title>
        <meta charset="UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='recorder.js') }}"></script>
    </head>
    <body>
        <h1>Roomify</h1>
        <h2>Book grouprooms by speech</h2>
        <h3 id="state_heading"></h3>
        <div id="text_container">
            <form action="" method="post" id="new_text_request">
                <label for="new_name">Vad vill du göra?</label>
                <input type="text" name="text_request"  id="text_request">
                <input type="submit">
            </form>
        </div>
        <div id="recorder_div">
            <h4>Tap to capture booking</h4>
            <div id="recorder">
                <div>
                    <p id="timer">9</p>
                </div>
            </div>
            <div id="loading"></div>
        </div>

        <div id="confirm_booking">
            <div class="float_container">
                <div class="res_container" id="date">
                    <p class="blue"></p>
                </div>
                <div class="res_container blue" id="time">
                    <p class="blue"></p>
                    <div class="btn_container"></div>
                </div>
                <div class="res_container" id="location">
                    <p></p>
                    <div class="btn_container"></div>
                </div>
            </div>
            <button type="button" id="confirm_button" class="red">Okay, do it!</button>
            <p id="cancel">Cancel</p>
        </div>

        <div id="booking_done">
            <h4></h4>
            <p>You'll recive an email with the details the same day.</p>
            <button id="new_booking" class="red">New booking</button>
            <button class="red">List bookings</button>
        </div>
        <!--<pre id="log"></pre>-->
        <script>
            function confirm_booking(){
                $('#confirm_button').click(function(){
                    $('#confirm_booking').hide()
                    $('#loading').show()
                    $('#state_heading').text('Wait for it...')
                    var value = $(this).text();
                    var location = $('#location').find('p').text();
                    var time = $('#time').find('p').text();
                    var date = $('#date').find('p').text();
                    $.ajax({
                        url: '/grouprooms',
                        method: 'POST',
                        data:{'sound':encodedData},
                        dataType: "json",
                        success: function(response) {
                            $('#loading').hide()
                            $('booking_done').show()
                            //Här ska in en if sats för att kolla att allt gick bra!
                            $('#state_heading').text("Great, we're done!")
                        }
                    });
                });
            }

            function new_booking(){
                $('#new_booking, #cancel').click(function(){
                    $('booking_done').hide()
                    $('confirm_booking').hide()
                    $('recorder_div').show()
                    $('#state_heading').text('')
                });
            }


        </script>

        <script>
            $(document).ready(function() {
                send_data()
                startStopRecording()
            });

            function startStopRecording(){
                var recording = false;
                $('#recorder').click(function(){
                    if(recording == false){
                        recording = true
                        recorder && recorder.record();
                        $('#timer').show()
                        $('#recorder_div').find('h4').text('Recording, tap to stop.')
                        var count=9;
                        var counter=setInterval(timer, 1000);
                        function timer(){
                            count=count-1;
                            if (count <= 0){
                                clearInterval(counter);
                                if(recording == true){
                                    recording = false
                                    recorder && recorder.stop();
                                    createDownloadLink();
                                }
                                return;
                            }
                            $('#timer').text(count)
                        }
                    }
                    else{
                        recording = false
                        recorder && recorder.stop();
                        createDownloadLink();
                    }
                });
            }


            function send_data(){
                $("#new_text_request").submit(function(e){
                    e.preventDefault();
                    input = $('#text_request').val()
                    console.log(input);
                    $.ajax({
                        url: '/new_text_request',
                        method: 'POST',
                        data:$(this).serialize(),
                        success: function(response) {
                        }
                    });

                });
            }
        </script>
        <script>
            var audio_context;
            var recorder;


            function startUserMedia(stream) {
              var input = audio_context.createMediaStreamSource(stream);
              recorder = new Recorder(input);
            }

            function startRecording(button) {
              recorder && recorder.record();
              button.disabled = true;
              button.nextElementSibling.disabled = false;
            }

            function stopRecording(button) {
              recorder && recorder.stop();
              button.disabled = true;
              button.previousElementSibling.disabled = false;
              createDownloadLink();
            }


            function b64EncodeUnicode(str) {
                return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function(match, p1) {
                    return String.fromCharCode('0x' + p1);
                }));
            }

            function createDownloadLink() {
                $('#recorder').hide()
                $('#loading').show()
                $('#recorder_div').find('h4').hide()
                $('#state_heading').text('Wait for it...')
                recorder && recorder.exportWAV(function(blob) {
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function() {
                        base64data = reader.result;
                        var encodedData = window.btoa(base64data);
                        recorder.clear();
                        $.ajax({
                            url: '/new_speech_request',
                            method: 'POST',
                            data:{'sound':encodedData},
                            dataType: "json",
                            success: function(response) {
                                $('#loading').hide()
                                $('#confirm_booking').show()
                                $('#state_heading').text('We will book a room for you')
                                // Location, date och time skrivs ut + tillhörande knapper
                                if(response[0]['errors'].indexOf('location') > -1){
                                    $('#location').find('p').text('where?')
                                    $('#location').find('.btn_container').append("<button class='location'>Niagara</button>")
                                    $('#location').find('.btn_container').append("<button class='location'>Orkanen</button>")
                                    $('#confirm_button').addClass('disabled')
                                    $('#confirm_button').prop('disabled', true);
                                }
                                else{
                                    $('#location').find('p').text(response[1]['location'])
                                    $('#location').find('p').addClass('blue')
                                }

                                $('#date').find('p').text(response[1]['date'])
                                var timeslots =
                                    ['08:15-10:00',
                                    '10:15-13:00',
                                    '13:15-15:00',
                                    '15:15-17:00',
                                    '17:15-20:00']
                                var prime = timeslots[response[1]['primary_slot']]
                                $('#time').find('p').text(prime)

                                if(response[1]['sec_slot'] != null){
                                    var secondary = timeslots[response[1]['sec_slot']]
                                    btns = [
                                        "<button class='time blue'>"+ prime +"</button>",
                                        "<button class='time'>"+ secondary +"</button>"
                                    ]
                                    if (response[1]['sec_slot'] < response[1]['primary_slot']){
                                        btns.reverse()
                                    }
                                    $.each(btns, function(index,value ) {
                                      $('#time').find('.btn_container').append(value);
                                    });
                                }
                                $('.location').click(function(){
                                    var value = $(this).text();
                                    $('#location').find('p').text('in ' + value);
                                    $('#location').find('p').addClass('blue')
                                    $('#confirm_button').removeClass('disabled')
                                    $('#confirm_button').prop('disabled', false);
                                });
                                $('.time').click(function(){
                                    var value = $(this).text();
                                    $('#time').find('p').text(value);
                                });

                                $('.btn_container > button').click(function(){
                                    $(this).addClass('blue');
                                    if($(this).siblings().hasClass('blue')){
                                        $(this).siblings().removeClass('blue')
                                    }
                                });


                                confirm_booking()
                            }
                        });
                    }
              });
            }




            window.onload = function init() {
              try {
                // webkit shim
                window.AudioContext = window.AudioContext || window.webkitAudioContext;
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
                window.URL = window.URL || window.webkitURL;

                audio_context = new AudioContext;
                if (navigator.getUserMedia){
                    $('#recorder_div').show()
                    $('#text_container').hide()
                }
                else{
                    fallback()
                }
              } catch (e) {
                fallback()
              }

              if (navigator.getUserMedia){
                  navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
                      fallback()
                  });
                }
            };

            function fallback(){
                $('#recorder_div').hide();
                $('#text_container').show();
            }
        </script>
    </body>
</html>
