<!doctype html>
<html>
    <head>
        <title>Roomify | Start</title>
        <meta charset="UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='recorder.js') }}"></script>
    </head>
    <body>
        <h1>Roomify</h1>
        <h2>Book grouprooms by speech</h2>
        <main></main>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='config.js') }}"></script>
    </body>
</html>
